.card {
  display: flex;
  flex-direction: column;
    width: 360px;
    height: 340px;
    margin: 0px auto;
    padding: 50px 0 0 0;
    background-color: rgb(243, 234, 234);
    border-radius: 10px;
    border: solid 3px black;
    box-shadow: rgba(247, 244, 244, 0.774) 0px 2px 4px;
  }

  .cardImg {
    width: 120px;
    display: block;
    margin: 0px auto 20px;
    border-radius: 50%;
    background-color: #6b6464;
  }
  .cardName {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .cardTag {
    text-align: center;
    color: darkgrey;
    margin-bottom: 10px;
  }
  
  .cardLocation {
    text-align: center;
    color: darkgrey;
  }

  /* ----Activities------ */
  
  .cardList{
    height: 120px;
    background-color: rgba(58, 47, 47, 0.295);
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style-type: none;
    padding: 0;
  }
  .cardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    text-align: center;
    border: solid 2px rgb(41, 35, 35);
  }
  .cardListText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
  }